html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.125fr 1fr 1fr 1.125fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding: 1%;
    box-sizing: border-box;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.red { background: red; }
.orange { background: orange; }
.yellow { background: yellow; color: black; }
.green { background: green; }
.blue { background: #273be2; }
.indigo { background: #ff00ff; }
.violet { background: #9039d9; }
.black { background: black; }

.red {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.orange {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.yellow {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.green {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.blue {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.indigo {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.violet {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}

.black {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}
